.header {
    display: flex;
    justify-content: space-between;
    background-color: #434343;
    align-items: center;
    padding: 10px 30px;
    height: 5vh;
    color: #fff;

    // .header__buttons
    &__buttons {
        display: flex;
        gap: 10px;
    }

    // .header__button
    &__button {
        border: 0;
        padding: 10px 20px;
        cursor: pointer;
        color: #fff;
        background-color: #6E6D6D;
    }
}