*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.app {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    font-family: consolas;
    background-color: #312F2E;
}

.app {
    display: flex;
    flex-direction: column;
    // height: calc(100% - 55px);
    height: 100vh;
    overflow: hidden;
    // filter: blur(5px);
}



ul {
    list-style-position: inside;
    list-style: none;
}

img {
    max-width: 100%;
}