.message-item {
    transition: all 0.3s ease 0s;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    max-width: 500px;
    cursor: alias;

    img {
        border-radius: 20px;
    }

    // .message-item__text
    &__text {
        font-weight: 600;
        font-size: 20px;
    }

    // .message-item__meta
    &__meta {
        color: #8b8b8b;
        display: flex;
        justify-content: space-between;
    }
}

.message-item.left {
    align-self: flex-end;
}