.input {
    position: relative;

    &__content {
        position: absolute;
        width: 100%;
        transform: translateY(-100%);
        display: flex;
        padding: 10px 40px;
    }

    &__body {
        position: relative;
        flex-grow: 1;
    }

    #input-file-label {
        top: 50%;
        left: 98%;
        transform: translate(-100%, -50%);
        position: absolute;
        cursor: pointer;
        width: 24px;
        display: flex;
        align-items: center;

        aspect-ratio: 1 / 1;
        transition: all 0.3s ease 0s;

        &:hover {
            transform: translate(-100%, -50%) scale(1.2);
        }
    }

    &__file {
        opacity: 0.5;
        visibility: hidden;
        color: white;
        position: absolute;
        left: 98%;
        transform: translate(-100%, -50%);
        top: 50%;
        background-color: #ccc;
        width: auto;
    }

    &__text {
        border-radius: 10px 0px 0px 10px;
        font-family: consolas;
        flex-grow: 1;
        padding: 10px;
        background-color: #525252;
        color: #dddddd;
        outline: none;
    }

    &__send {
        background-color: rgb(99, 110, 170);
        transition: all 0.3s ease 0s;
        padding: 10px 45px;
        cursor: pointer;
        color: white;
        border-radius: 0px 10px 10px 0px;
        border: 0;

        &:hover {
            background-color: rgb(182, 188, 221);
        }
    }
}